
{% extends 'blog/base.html' %}

{% load static %}
{% block content %}
      
                    {% for publicacion in publicaciones %}
                        <div class="post">
                            <div class="date">
                                <p>publicado: {{ publicacion.fechapublicacion }}</p>
                            </div>
                            <h2><a href="{% url 'detalle_publicacion' pk=publicacion.pk %}">{{ publicacion.titulo }}</a></h2>
                            <p>{{ publicacion.texto|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
        
        {% endblock %} 